---
---

body {
  opacity: 1 !important;
}

$font-path:         '/assets/fonts/IBMPlexSans/';
$image-path:        '/assets/img';
$site-image-path:   '/assets/img';
$icons-folder-path: '/assets/img/svg-icons';

@import 'dkfds/dkfds-borgerdk';
@import 'dkfds-tippy-theme';
@import 'dkfds-micromodal-theme';
@import 'dkfds-datatables-theme';
@import 'dkfds-pikaday-theme';
@import 'dkfds-selectwoo-theme';
@import 'stylesheet';

