---
---

body {
  opacity: 1 !important;
}

$font-path:         '/dkfds-plugins-docs/assets/fonts/IBMPlexSans/';
$image-path:        '/dkfds-plugins-docs/assets/img';
$site-image-path:   '/dkfds-plugins-docs/assets/img';
$icons-folder-path: '/dkfds-plugins-docs/assets/img/svg-icons';

@import 'dkfds/dkfds-virkdk';
@import 'dkfds-tippy-theme';
@import 'dkfds-micromodal-theme';
@import 'dkfds-datatables-theme';
@import 'dkfds-pikaday-theme';
@import 'dkfds-selectwoo-theme';
@import 'stylesheet';

