// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #0059B3;
$color-primary-medium:        #004993;
$color-primary-dark:          #003972;
$image-path:                  '../img' !default;

.header {
    .portal-header{
        .logo{
          background-image: url($image-path + '/logo_virk.svg');
          height: 4.8rem;
          width: 7.8rem;
        }

      &.portal-header-compact{
        .logo{
          background-image: url($image-path + '/logo_virk.svg');
          width: 3.8rem;
        }
      }
    }
}
