<!-- Placering: top -->
<button class="mt-8 button button-primary js-tippy" data-tippy-placement="top" data-tippy-content="Top tooltip">Top <span class="sr-only">Dette er tooltipteksten til skærmlæsere,
        top</span></button>

<!-- Placering: bund -->
<button class="button button-primary js-tippy" data-tippy-placement="bottom" data-tippy-content="Bund tooltip">Bund
    <span class="sr-only">Dette er tooltipteksten til skærmlæsere,
        bottom</span></button>

<!-- Placering: venstre -->
<button class="button button-primary js-tippy" data-tippy-placement="left" data-tippy-content="Venstre tooltip">Venstre <span class="sr-only">Dette er tooltipteksten til skærmlæsere,
        venstre</span></button>

<!-- Placering: højre -->
<button class="button button-primary js-tippy" data-tippy-placement="right" data-tippy-content="Højre tooltip">Højre <span class="sr-only">Dette er
        tooltipteksten til skærmlæsere, højre</span></button>
